body {
    font-family: 'caviar_dreamsregular', 'LiberationSansRegular';
    background-color: gray;
    color: gray;
    margin: 0;
    font-size: 11pt;
}
header {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 2.2em;
}
.centered {
    text-align: center;
}
.textShadow {
    text-shadow: 2px 2px 5px black;
    filter: dropshadow(color=black, offx=2, offy=2);
}
.boxShadow {
    -webkit-box-shadow: 2px 2px 5px 0 gray;
    box-shadow: 2px 2px 5px 0 gray;
}
section {
    margin: 0 auto;
    padding-bottom: 5px;
    width: 100%;
    background-color: white;
}
#steps {
    margin-bottom: 15px;
}
.step {
    position: relative;
    top: 10px;
    margin: 10px 10px 0 10px;
    padding: 5px;
}
.question {
    font-size: 1.1em;
    font-weight: bold;
}
#buttons {
    width: 100%;
    margin: 1px 0;
}
.button {
    position: relative;
    background-color: white;
    color: gray;
    border: 3px solid gray;
    width: 65px;
    height: 20px;
    font-size: 0.9em;
    font-weight: bold;
    margin: 1px;
    padding-top:2px;
}
.littleButton {
    width: 20px;
}
.rounded {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.answer {
    border: 3px solid gray;
    margin: 3px 4px;
    text-align: center;
}
.alert {
    background-color: white;
    color: red;
    border: 3px solid red;
    margin: 3px 4px;
    padding: 2px 10px;
    font-weight: bold;
}
input {
    border: none;
    color: gray;
    font-size: 1em;
    width: 96%;
    margin: 2px 0;
}
input.iframe {
    width: 100%;
}
select {
    border: none;
    background: transparent;
    color: gray;
    font-size: 1em;
    width: 96%;
    margin-bottom: 2px;
}
a:link, a:active, a:visited, a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.gray:link, a.gray:active, a.gray:visited, a.gray:hover {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
ul {
    margin: 5px 0;
    line-height: 1.4;
}
.result {
    background-color: gray;
    color: white;
    margin: 3px 4px 7px 4px;
    padding: 5px 10px;
    font-size: 1em;
}
footer {
    margin: 5px auto 0 auto;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 0.9em;
}