extends layout

block content
  div.container
    div.row
      div.text-center.col-sm-6.col-md-4.col-md-offset-4
        h2.login-title Welcome #{user.firstName}
        a.btn.btn-primary(href='/signout', class='text-center new-account') Sign Out
