extends layout

block content
    div.container
      form.form-signin.col-md-6(method='post', action='/addUser')
        h1.form-signin-heading P치gina de alta
        div.form-group
            input.form-control(type='text', name='name', placeholder='Nombre')
        div.form-group
            input.form-control(type='text', name='surname', placeholder='Apellidos')
        div.form-group
            input.form-control(type='text', name='user', placeholder='Usuario')
        div.form-group
            input.form-control(type='email', name='email', placeholder='Correo electr칩nico')
        div.form-group
            input.form-control(type='password', name='password', placeholder='Contrase침a')
        div.form-group
            input.form-control(type='password', name='password2', placeholder='Repita la contrase침a')
        div.form-group
            button.btn.btn-primary.btn-block(type='submit') Dar de alta
        