body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navAlert {
  height: 40px;
  margin: 5px;
  padding-top: 10px;
  box-sizing: border-box;
}
